footer {
  color: $color-gray;
  background-color: $color-black;

  & address {
    padding-top: 20px;
    font-size: 13px;
    line-height: 21px;
    font-style: normal;
    text-align: center;
  }
  & address a {
    padding-top: 15px;
    font-size: 13px;
    line-height: 21px;
    font-style: normal;
    color: #c0c0c0;
    text-decoration: none;

    &.emphasize {
      color: #fff;
    }
  }

  @include clearfix();
  #copyright {
    font-size: 1.2rem;
    padding: 30px 0;

    p {
      width: 40%;
      margin: 0 auto;
      text-align: center;
    }
  }
}
